@import "~@angular/material/theming";
@import "~@fortawesome/fontawesome-free/css/all.css";

$primaryPalette: mat-palette($mat-indigo);
$accentPalette: mat-palette($mat-pink, A200, A100, A400);
$warnPalette: mat-palette($mat-red);

html,
body,
app-root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}