<header>
  <div>
    <h1>HN Feed</h1>
    <h2>We &lt;3 hacker news!</h2>
  </div>
</header>
<main>
  <div class="loading" *ngIf="loading">
    <mat-icon fontSet="fa" fontIcon="fa-cog" class="fa-spin"></mat-icon>
  </div>
  <div *ngIf="!loading">
    <div class="empty" *ngIf="!articles || (articles && articles.length === 0)">
      <div>
        <p>Empty, do you want to initiate a manual sync?</p>
        <button mat-raised-button color="primary" (click)="syncData()">Manual sync</button>
      </div>
    </div>
    <div *ngIf="articles && articles.length > 0">
      <article *ngFor="let article of articles">
        <div (click)="openArticle(article)" class="texts">
          <p>{{article.title}} <span> - {{article.author}} - </span></p>
          <p>{{article.createdAt | amLocal | amCalendar: calendarFormat }}</p>
        </div>
        <div (click)="deleteArticle(article)" class="icon">
          <mat-icon fontSet="fa" fontIcon="fa-trash" class="inner-icon"></mat-icon>
        </div>
      </article>
    </div>
  </div>
</main>